.bg-red{
    background-color: black;
}
.bg-blue{
    background-color: hsl(187, 98%, 49%);
}
.bg-cyan{
    background-color: hsl(249, 88%, 34%);
}
#grid-container{
    display: grid;
  grid-template-columns: auto auto auto auto ;
}
