.bg-red{
    background-color: rgb(250, 2, 138);
}
.bg-blue{
    background-color: hsla(241, 98%, 49%, 0.61);
}
.bg-cyan{
    background-color: hsl(192, 90%, 61%);
}
#grid-container{
    display: grid;
  grid-template-columns: auto auto auto;
}