.bg-red{
    background-color: rgb(250, 2, 138);
}
.bg-blue{
    background-color: hsl(187, 98%, 49%);
}
.bg-cyan{
    background-color: hsl(249, 100%, 47%);
}
#grid-container{
    display: grid;
  grid-template-columns: auto auto auto auto ;
}
